.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  border: 1px solid skyblue;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
  cursor: pointer;
}
.item:hover {
  background-color: skyblue;
}
h2 {
  margin-bottom: 10px;
}
span {
  display: block;
}
